.better-carousel-friend-tile {
	cursor: pointer;
	margin-bottom: 16px;
	margin-left: 3px;
	margin-right: 3px;
	transition: background-color 0.3s ease-in-out;
	border-radius: 12px;
}
.better-carousel-header-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.better-carousel-header-leftside-wrapper {
	display: flex;
	flex-direction: row;
}
.better-carousel-header-rightside-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.better-carousel-header-refresh-button {
	margin-left: 0.5em;
}
.better-carousel-header-refresh-button:hover {
	cursor: pointer;
}
:root {
	--extension-refresh-button-color: #000000;
	--extension-arrow-color: #000000;
	--extension-focused-background-color: #D8D6CF;
}
@media (prefers-color-scheme: dark) {
	:root {
		--extension-focused-background-color: #272930;
		--extension-refresh-button-color: #FFFFFF;
		--extension-arrow-color: #FFFFFF;
	}
}
.better-carousel-refresh-button-svg {
    height: 1em;
    width: 1em; /* Always give SVGs a width if you give them a height */
    vertical-align: middle;
}

/* Target the container of the friend's headshot */
.better-carousel-image-box {
	width: 90px;  /* Or whatever size you want */
	height: 90px;
	overflow: hidden; /* This is the "crop" */
	border-radius: 50%; /* If you want circular heads */
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #e5e5e5; /* Placeholder color */
	margin-bottom: 2px;
}

/* Target the actual image */
.better-carousel-image-box img {
	width: 100% !important;
	height: 100% !important;
	object-fit: cover !important; /* Forces the image to fill the box without stretching */
	object-position: center !important; /* Keeps the face in the middle */
	display: block;
	flex-shrink: 0px;
}
.better-carousel-content {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding-top: 2px;
	position: relative;
}
.better-carousel-arrow-tile {
	z-index: 1000; /*navigation container should have a higher z index*/
	position: absolute;
	height: 100%;
	cursor: pointer;
	margin-bottom: 16px;
	display: flex;
	align-items: center;
	background-color: #2C2C2C;
	opacity: 0.8;
	transition: opacity 0.2s ease-in-out, background-color 0.2s ease;
}
.better-carousel-arrow-tile-focused {
	z-index: 1000; /*navigation container should have a higher z index*/
	position: absolute;
	height: 100%;
	cursor: pointer;
	margin-bottom: 16px;
	display: flex;
	align-items: center;
	background-color: #2C2C2C;
	opacity: 1;
	transition: opacity 0.2s ease-in-out, background-color 0.2s ease;
}
.better-carousel-arrow-tile-muted {
	z-index: 1000; /*navigation container should have a higher z index*/
	position: absolute;
	height: 100%;
	cursor: default;
	margin-bottom: 16px;
	display: flex;
	align-items: center;
	background-color: #333333;
	opacity: 0.7;

}
.better-carousel-arrow-wrapper {
	width: 45px;
	height: 45px;
}
.better-carousel-arrow-svg {
	vertical-align: baseline;
}
.better-carousel-arrow-svg path{
	stroke: var(--extension-arrow-color);	
}
.better-carousel-focused-background {
	background-color: var(--extension-focused-background-color); 
}
.better-carousel-text-content {
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-top: 0;
	margin-bottom: 4px;
	overflow: hidden;
	width: 90px;
	font-size: 12px;
	text-align: center;
}
.better-carousel-bold-title {
	font-weight: 700;
}
.better-carousel-friend-row {
	display: flex;
	flex-direction: row;
}
